.electiveRowStyle {
  border: 2px solid black;
  horizontal-align: justify;

}
.tbody{
  border: '2px solid black';
}

.fulfilledStyle = {
  border: 2px solid black;
  background-color: #4dff4d;
  margin: auto;
  horizontal-align: center;
}
